In [5]:
ab =10 
# 변수 ab를 선언하고 그 변수에 10을 대입하고 있는 코드.

var_lsit = [1,2,3]

# 호출
# 함수에서만 호출이란 단어를 씀.

var_list[2] 
# 해석
# 변수 var_list의 인덱스가 2인 요소값 추출.
# 인덱스가 2인 변수 var_list의  인덱싱.

SyntaxError: invalid syntax (1867988562.py, line 9)

In [7]:
#### 함수의 매개변수에 딕션너리 넣어주기

In [10]:
dict_dictionary_1 ={"k1":"탱크", "k2" :"소총"}

In [13]:
# 딕션너리를 넣으면 key을 추출한다.
def test_1(a) :
    for el in a :
        print(el)

test_1(dict_dictionary_1)

k1
k2

In [14]:
test_1({"k1":"탱크", "k2" :"소총"})

k1
k2

In [16]:
def make_dict(id="m001", name="hong", age =16) :
    print(id)
    print(name)
    print(age)

In [18]:
make_dict()

m001
hong
16

In [20]:
make_dict(id="m002")

m002
hong
16

In [34]:
def make_dict(**kwargs) :
    for el in kwargs :
        print(el, ":", kwargs[el])

In [35]:
make_dict(id="m001", name="hong", age=16)

id : m001
name : hong
age : 16

In [36]:
def one_return():
    print("반환값은 몇개일까요")
    return 1,2,3,4 # 4개의 데이터를 반환하는 것처럼 보이지만, 튜플 하나를 반환하고 있음.

In [27]:
val = one_return()
print(val)

반환값은 몇개일까요
(1, 2, 3, 4)

In [29]:
def test1(*a) : 
    return a

In [48]:
def test2(**a) : # 딕셔너리로 만들어서 반환
    return a

dic = {"a":[1,2,33], "b":"B"}
t_1 = [1,2,3]
int_param = 1
print(dic)
test2(dic1= dic, t = t_1, int_param = int_param)

{'a': [1, 2, 33], 'b': 'B'}

{'dic1': {'a': [1, 2, 33], 'b': 'B'}, 't': [1, 2, 3], 'int_param': 1}

In [49]:
### 변수의 종류 : 변수가 선언되는 위치에따른 분류
# 사용가능한 범위를 scope라고 함.
# 글로벌 변수(변수)
# 매개변수 : 함수의 ()에 선언되는 변수
# 에서의 스코프는? 함수 안(시작) -> 함수안에서만 사용할 수 있음. 함수 밖은 사용할 수 없음.

# 로컬변수 (지역변수) : 파이썬{}를 사용하지 않고 :과 들여쓰기를 이용해서 범위를 표현함 
# 에서의 스코프는? 함수 안의 변수 선언이후부터 해당 구문까지 -> 함수안에서만 사용할 수 있음. 함수 밖은 사용할 수 없음.
# 들여쓰기 안에서 선언된 변수를 로컬변수

In [55]:
# 왜 에러가 나는가? 

var_global_1 = 10

def tt(var_args_1) :
    
    var_local_1 = "good"
    print(var_global_1) 



tt("hello")
print(var_local_1)  # var_local은 함수 안에서만 사용 가능하기 때문
                    # 함수를 벗어난 이곳에선 사용 할 수 없음.

10

NameError: name 'var_local_1' is not defined

In [58]:
if True :
    var_if_a = 10
    print(var_if_a)
    
print(var_if_a)

10
10

In [60]:
for i in range(1,10) :
    num = i *2
    print("==",num)
print(num)

== 2
== 4
== 6
== 8
== 10
== 12
== 14
== 16
== 18
18

In [63]:
def test_2() :
    hh =100
test_2()
print(hh)

NameError: name 'hh' is not defined

In [75]:
var_gloabal_4 =  3
def test_4() :
    var_gloabal_5 = 0
    var_gloabal_5 +=var_gloabal_4
    print(var_gloabal_4)

test_4()

3

In [74]:
var_global_4 =  3
def test_5() :
    global var_global_4
    var_gloabal_5 = 0
    var_gloabal_5 += var_gloabal_4
    print(var_gloabal_5)

test_5()

3

In [79]:
for i in range(1, 4, 1):
    t_5 = i +3
    print(t_5)
int_a =i
print(">>>>",int_a)

4
5
6
>>>> 3

In [107]:
fn_lambda_4 = lambda a : print(a)
fn_lambda_4("hello")

hello

In [108]:
# 변수는 왜 사용하는가?
# [[값이 같은곳]]에서 대해 유지보수를 용이하게 하려고
# 유지보수를 용이하게 하려고

# 함수는 왜 사용하는가?
# [[중복되는코드블록 or 패턴이 있는 코드 블록]] 유지보수를 용이하게 하려고 함.

# 클래스(클라스)는 왜 사용하는가?
# 공통된 자원을 유지보수를 용이하게 하려고

In [112]:
#선언
def print_dan(dan) : 
    print(dan, "단출력;;;;;;;;;;;")
    for i in range(1,10) :
        print(dan, "x", i,"=", dan*1)
    print(":"*20)

# 호출
for dan in range(2,10) : 
    print_dan(dan)

2 단출력;;;;;;;;;;;
2 x 1 = 2
2 x 2 = 2
2 x 3 = 2
2 x 4 = 2
2 x 5 = 2
2 x 6 = 2
2 x 7 = 2
2 x 8 = 2
2 x 9 = 2
::::::::::::::::::::
3 단출력;;;;;;;;;;;
3 x 1 = 3
3 x 2 = 3
3 x 3 = 3
3 x 4 = 3
3 x 5 = 3
3 x 6 = 3
3 x 7 = 3
3 x 8 = 3
3 x 9 = 3
::::::::::::::::::::
4 단출력;;;;;;;;;;;
4 x 1 = 4
4 x 2 = 4
4 x 3 = 4
4 x 4 = 4
4 x 5 = 4
4 x 6 = 4
4 x 7 = 4
4 x 8 = 4
4 x 9 = 4
::::::::::::::::::::
5 단출력;;;;;;;;;;;
5 x 1 = 5
5 x 2 = 5
5 x 3 = 5
5 x 4 = 5
5 x 5 = 5
5 x 6 = 5
5 x 7 = 5
5 x 8 = 5
5 x 9 = 5
::::::::::::::::::::
6 단출력;;;;;;;;;;;
6 x 1 = 6
6 x 2 = 6
6 x 3 = 6
6 x 4 = 6
6 x 5 = 6
6 x 6 = 6
6 x 7 = 6
6 x 8 = 6
6 x 9 = 6
::::::::::::::::::::
7 단출력;;;;;;;;;;;
7 x 1 = 7
7 x 2 = 7
7 x 3 = 7
7 x 4 = 7
7 x 5 = 7
7 x 6 = 7
7 x 7 = 7
7 x 8 = 7
7 x 9 = 7
::::::::::::::::::::
8 단출력;;;;;;;;;;;
8 x 1 = 8
8 x 2 = 8
8 x 3 = 8
8 x 4 = 8
8 x 5 = 8
8 x 6 = 8
8 x 7 = 8
8 x 8 = 8
8 x 9 = 8
::::::::::::::::::::
9 단출력;;;;;;;;;;;
9 x 1 = 9
9 x 2 = 9
9 x 3 = 9
9 x 4 = 9
9 x 5 = 9
9 x 6 = 9
9 x 7 = 9
9 x 8 = 9
9 x 9 = 9
::::::::::::::::::::

In [126]:
# 리스트 함수들
ls_list_1 =[70,45,50,40,30]

In [115]:
ls_list_1.append(60) ## 추가 
print(ls_list_1)

[10, 20, 30, 40, 50, 60, 60]

In [141]:
ls_list_1.sort()# 오름차순
print(ls_list_1)

[30, 40, 45, 50, 70]

In [142]:
ls_list_1.reverse() # 원래 있는 리스트를 반대로 출력할뿐 오름차순, 내림차순은 아님.
print(ls_list_1)

[70, 50, 45, 40, 30]

In [131]:


# 아래와 같은 결과가 나오게 list의 함수를 이용하여 구현하세요.
# 두개의 함수를 활용
# [70, 60, 50, 40, 20]
ls_list_4.sort()
ls_list_4.reverse()
print(ls_list_4)

In [182]:
ls_list_5 = [70,20,60,40,50]
idx = ls_list_5.index(60) # 60이라는 값의 인덱스를 반환
print(idx)

2

In [163]:
x = ['Tick', 'Tock', 'Song']
y = ['Ping', 'Pong']
x.append(y)
print('x:', x)

x: ['Tick', 'Tock', 'Song', ['Ping', 'Pong']]

In [165]:

x = ['Tick', 'Tock', 'Song']
y = ['Ping', 'Pong']
x.extend(y)
print('x:', x)

x: ['Tick', 'Tock', 'Song', 'Ping', 'Pong']

In [180]:
nums = [1, 2, 3]
nums.insert(0, {10, 20})  # 0번째(맨앞에) 추가

In [181]:
print(nums)

[{10, 20}, 1, 2, 3]

In [178]:
nums.extend(["end2","start2"])

In [184]:
ls_list_1 =[70,45,50,40,30]

In [188]:
ls_list_1.sort(reverse=True)
ls_list_1

[70, 50, 45, 40, 30]

In [189]:
ls_list_1.clear()
print(ls_list_1)

[]

In [314]:
ls_list_7 = [70,20,60,40,50]

[70, 20, 60, 40, 50]

In [318]:
print(ls_list_7)

[70, 20, 60, 40]

In [317]:
ls_list_7.remove(50)

In [319]:
id(ls_list_7)

3040412347264

In [195]:
ls_list_8 = ls_list_7.copy()

In [322]:
print(ls_list_8)

[70, 20, 40, 50]

In [320]:
id(ls_list_8)

3040389516736

In [323]:
ls_list_9 = ls_list_7

In [324]:
id(ls_list_9)

3040412347264

In [199]:
print(ls_list_8)

[70, 20, 40, 50]

In [209]:
dict_dictionary_1 = {1:"ko"}
dict_dictionary_1[1]

'ko'

In [211]:
dict_dictionary_1.get(1) # 인덱스로도 조회가 가능하지만 get함수를 이용해서 인덱싱 할 수도 있다.

'korea'

In [212]:
dict_dictionary_1[1] = "korea"
dict_dictionary_1

{1: 'korea'}

In [214]:
dict_dictionary_1.update({1:'ko'})
dict_dictionary_1

{1: 'ko'}

In [216]:
dict_dictionary_1[2] = 'usa'
dict_dictionary_1

{1: 'ko', 2: 'usa'}

In [217]:
## 내장 함수

In [218]:
def filter_test(ls) :
    result = []
    for el in ls :
        if el > 10 : 
            result.append(el)
    return result

In [226]:
ls = [1,11,21,31]
result=filter_test(ls)
print(result)

[11, 21, 31]

In [220]:
# 위와 같은 기능을 하는 내장 함수가 있다.

In [238]:
# filter(function, ls)
filter(print(ls), ls)

[1, 11, 21, 31]

In [230]:
def filter_test2(el) : 
    return el > 10
    # bool자료형이 반환 된다.

True

In [239]:
list(filter(filter_test2,ls)) # 함수명만 입력을 한다. 반복적인 데이터에서 내가 원하는 결과만 추출하는 것이 filter 함수이다.

[11, 21, 31]

In [241]:
ls = [i for i in range(0,100)]

In [247]:
result_ls_3 = list(filter(lambda el : el %3 == 0 and el != 0, ls))
print(result_ls_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [252]:
msg = "가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하"
#filter()함수를 이용해서 '가'가 아닌 문자만 추출해서 리스트 변수 ls_not_ga에 저장.

In [250]:
ls_not_ga = list(filter(lambda word : word != '가', msg))
print(ls_not_ga)

['나', '다', '라', '마', '바', '사', '아', '자', '차', '카', '타', '파', '하', '나', '다', '라', '마', '바', '사', '아', '자', '차', '카', '타', '파', '하', '나', '다', '라', '마', '바', '사', '아', '자', '차', '카', '타', '파', '하']

In [259]:
## map(f, collection)

msg = "hello"
map_list= list(map(lambda c: c.upper(),msg)) # msg에서 가져온 요소를 c로 가져와서 대문자로 치환하여 리스트로 반환
print(map_list)

['H', 'E', 'L', 'L', 'O']

In [276]:
def upper_fn(msg) :
    result = []
    for c in msg :
        change_c = c.upper()
        result.append(change_c)

    return result

In [277]:
list_msg = upper_fn("hello")
print(list_msg)

['H', 'E', 'L', 'L', 'O']

In [280]:
t_tuple_3 = (10,3,5,7)
# 위 데이터의 요소값을 7로 나누어서 나온 나머지를 반환하여 그 값들로 ls_remain_7 list를 생성

In [287]:
ls_remain_7 = list(map(lambda el : el % 7, t_tuple_3))
print(ls_remain_7)

[3, 3, 5, 0]

In [312]:
ls_list = ["a","b","c","d","e","f","g"]
filter_list_1 = list(filter(lambda c : ls_list.index(c) %2 == 0 and ls_list.index(c) != 0 ,ls_list))
print(filter_list_1)
ls_list.index("a")

['c', 'e', 'g']

0

In [313]:
str_param = "로이 스포츠센터 9"
filter_list_1 = list(filter(lambda c : c!=' ',str_param))
print(filter_list_1)

['로', '이', '스', '포', '츠', '센', '터', '9']

In [325]:
# 변수를 stack에 저장하고 heep에 list를 저장 되어있다.
# 리스트형 변수는 heap의 주소값을 가지고 있음.

ls2= ls1 # 은 ls2는 ls1의주소값을 넘겨 받는것이다.
# copy를 이용할때는 새로운 주소 값에 리스트값들을 저장하는것이다.
ls3 = ls1.copy() # 는 주소값이 같지 않으므로
id(ls3) = id(ls1) # 일때 False
id(ls1) = id(ls2) # 일때 True

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (3573557892.py, line 7)

In [347]:
ls_list = ["sacred","sacrifice","sail","aaaa"]
def check(c) :
    print(c)
    str(c)
    if (c[0] == "s") : 
        c
    else :
        pass

ls_list = list(map(check, ls_list))
print(ls_list)

[1.0, 2.0, 3.0]