## 변수 학습

#### 변수는 동일한 값을 사용할 때, 유지보수 관리를 용이하게

In [9]:
num_int=-220000000 

print(num_int)
print(num_int)
print(num_int)

-220000000
-220000000
-220000000
-220000000
-220000000
-220000000
-220000000
-220000000
-220000000
-220000000

#### 변수에 대입하는 값은 자료형마다 그 형태가 다르다.

In [11]:
num_long =2200000000
print (num_long)

2200000000

In [31]:
str_String  = "good morning"

In [22]:
bool_boolean = True

## 변수명 = 자료형에 맞는 값

### 문자열에 맞는 값 표현하기

In [26]:
str_String_1 = "안녕 hi
"

print(str_String_1)

SyntaxError: unterminated string literal (detected at line 1) (1735932565.py, line 1)

In [27]:
str_String_2 = '하세요 '
print(str_String_2)

하세요 hello

In [28]:
str_String_3 ="""안녕
하세요"""
print(str_String_3)

안녕
하세요

In [32]:
str_String_4 ='''안녕
하세요'''
print(str_String_4)

안녕
하세요

다음은 변수 선언 코드입니다. 변수에 a 에 들어간 값은 정수인가요?
- a= "123"

#### 큰 따음표와 작은 따옴표를 구분해서 문자열 표현해야 하는 상황

In [37]:
str_String_5 ='그가 말했다. "안녕하세요?"'
print(str_String_5)

그가 말했다. "안녕하세요?"

In [38]:
str_String_6 = "그는 생각했다. '저 사람은 어디서 왔지?'"
print(str_String_6)

그는 생각했다. '저 사람은 어디서 왔지?'

In [45]:
str_String_7 = """ 그는 생각했다. "저 사람은 어디서 왔지" """
print(str_String_7)

 그는 생각했다. "저 사람은 어디서 왔지"

In [47]:
str_String_8 = ''' 그는 생각했다. "저 사람은 어디서 왔지" '''
print(str_String_7)

 그는 생각했다. "저 사람은 어디서 왔지"

In [49]:
t_tuple = 3,1,5,7
print(t_tuple)

(3, 1, 5, 7)

In [51]:
ls_list =["안녕","하세","요","?"]
print(ls_list)

['안녕', '하세', '요', '?']

In [53]:
dict_dictionary = {"일본":"도쿄","중국":"베이징"}
print(dict_dictionary)

{'일본': '도쿄', '중국': '베이징'}

### 2진수, 8진수, 16진수 변수 선언하기 : 정수
- 2진수 : 0b1010
- 8진수 : 0o17
- 16진수 : 0xff

In [54]:
num_int_10 = 8
print(num_int_10)

8

In [58]:
num_int_bin = 0b1010
print(num_int_bin)

10

In [63]:
num_int_oct = 0o17
print(num_int_oct)

15

In [64]:
num_int_hex = 0xff000
print(num_int_hex)

1044480

In [81]:
ls_list_num_1 = [10,40,30,10]
print(ls_list_num_1)

[10, 40, 30, 10]

In [85]:
ls_list_num_2 = [[1,2,3],[10,20],1000]
print(ls_list_num_2)

[[1, 2, 3], [10, 20], 1000]

In [89]:
ls_list_none =[]
ls_list_none1 = list()

print(ls_list_none)
print(ls_list_none1)

[]
[]

#### Tuple :리스트나 딕셔너리등은 그 안에 있는 요소값을 수정할 수있음. 그러나 튜플은 요솟값 수정이 불가능함.

In [105]:
t_tuple_list_1 =(1,2,[1,2,4])

In [106]:
print(t_tuple_list_1[2][0])

1

In [107]:
t_tuple_list_1[2][0] =100

In [113]:
print(t_tuple_list_1[2][0])
# t_tuple_list_1의 2번째 요소는 리스트이기에 변경이 가능하다.

100

In [111]:
print(t_tuple_list_1[1])

2

In [115]:
t_tuple_list_1[1] =100

TypeError: 'tuple' object does not support item assignment

In [118]:
t_tuple_none = ()
t_tuple_none = tuple()

In [119]:
t_tuple_none = (1,2,4,6)

In [120]:
print(t_tuple_none)

(1, 2, 4, 6)

## DICTIONARY

In [125]:
dict_dictionay_none ={}
dict_dictionay_none =dict()

# 동일

print(dict_dictionay_none)

{}

In [124]:
dict_dictionay_num_1 = {"pi" : 3.14, "e":2.74, "g":9.8}
dict_dictionay_String_1 = {"서울" : "한국", "평양": "북한", "일본":"도쿄","미국":"워싱턴DC"}
print(dict_dictionay_num_1)
print(dict_dictionay_String_1)

{'pi': 3.14, 'e': 2.74, 'g': 9.8}
{'서울': '한국', '평양': '북한', '일본': '도쿄', '미국': '워싱턴DC'}

In [128]:
dict_dictionary_list_1={"a":[1,2],"b":["A","B"]}
print(dict_dictionary_list_1)

{'a': [1, 2], 'b': ['A', 'B']}

In [130]:
zzz= {}
type(zzz)

dict

In [131]:
s_set_none = set()

In [132]:
s_set_int = {3,1,5}

In [142]:
print(s_set_none)
print(s_set_int)
print(type(s_set_none))

set()
{1, 3, 5}
<class 'set'>

In [135]:
s_set_long = {220000000,-222000000}

In [136]:
s_set_byte = {-128, 127}

In [138]:
print(s_set_long)
print(type(s_set_byte))

{220000000, -222000000}
<class 'set'>

In [140]:
s_set_float ={3.1,4.1}

In [143]:
s_set_double = {3.14, 4.27}
# double은 8byte를 할당, float는 4byte를 할당. 
# double이 더 정밀하게 표현 가능.

In [1]:
s = {-0.2, -0.3}
b = {True, True}

In [12]:
num_hexadecimal = 0xff
print(num_hexadecimal)

255