In [7]:
# while은 언제까지 반복문을 돌려야 할지 알고 있을때 쓰는것이 좋음.
# while문 안에 조건문을 쓰는것보다 while(조건문) 작성시 조건을 같이 넣어서 조건문을 넣지 않는것이 좋다.

i = 1
while i <= 6 :
    if i % 2 == 0 :
        str_i = str(i)
        str_result = str(i*2)
        print(str_i+"*2 -> "+str_result)
    else :
        print (i)
    i += 1

1
2*2 -> 4
3
4*2 -> 8
5
6*2 -> 12

In [11]:
# range -> 1부터 10까지
# range의 내용을 i에다가 넣어서 반복문
# 1부터 10까지 i에다가 넣어서 반복


for i in range(1,10) : 
    print(i)

1
2
3
4
5
6
7
8
9

In [12]:

for i in range(1,10,2) : 
    print(i)

1
3
5
7
9

In [14]:
for i in range(10,0,-1) : 
    print(i)

10
9
8
7
6
5
4
3
2
1

In [16]:
for i in range(0,8) :
    print(i)

0
1
2
3
4
5
6
7

In [20]:
ls_list_1 =[10, 20, 20, 50, 70]
#ls_lsit_1 이 갖고 있는 모든 요소 값을 for in문을 이용하여 출력하세요.
for i in range(0, len(ls_list_1)) :
    print(ls_list_1[i])

10
20
20
50
70

In [23]:
ls_list_2 = [1,2,3,5,7,9,11,13]
for el in ls_list_2 :
    print(el)

1
2
3
5
7
9
11
13

In [27]:
ls_list_3 = [(1,101),(2,202),(3,303)]
for t in ls_list_3 :
    print (t)

(1, 101)
(2, 202)
(3, 303)

In [28]:
for t in ls_list_3 :
    for el in t:
        print(el)

1
101
2
202
3
303

In [30]:
for t1, t2 in ls_list_3 :
    print(t1)
    print(t2)
    print("+"*10)

1
101
++++++++++
2
202
++++++++++
3
303
++++++++++

In [68]:
ls_list4 = [1,2,(10,20)]
for t in ls_list4 :
    if type(t)==type(()) :
        for el in t :
            print(el)
    else :
        print(t)
    print("+"*10)

1
++++++++++
2
++++++++++
10
20
++++++++++

In [73]:
# dictionary 는 key를 통해 값을 출력함.

dict_dictionary_1 ={"k1":"val1" ,"k2":"val2"}
for i in dict_dictionary_1 :
    print("key : ", i)
    print("val : ", dict_dictionary_1[i])

key :  k1
val :  val1
key :  k2
val :  val2

In [77]:
ls_list_7 = [1,2,3,4,5,6,7,8,9,10]
for el in ls_list_7 :
    if(el % 2 != 0) :
        print(el)

1
3
5
7
9

In [83]:
for i in range(0, len(ls_list_7),2) :
    print(ls_list_7[i])

1
3
5
7
9

In [85]:
ls1 = [10,20,(1,2,3),70]

In [86]:
for el in ls1 :
    print(el)

10
20
(1, 2, 3)
70

In [90]:
for el in range(0,len(ls1),1) :
    if el != 2 :
        print(ls1[el])
    else :
        for i in ls1[el] :
            print(i)

10
20
1
2
3
70

In [92]:
for el in ls1 :
    if type(el) == int:
        print(el)
    elif type(el) == tuple:
        for e in el :
            print(e)

10
20
1
2
3
70

In [94]:
for i in range(0,10,1) :
    if i ==3 :
        continue
    print(i)

0
1
2
4
5
6
7
8
9

In [96]:
for i in range(0,10,1) :
    if i !=3 :
        print(i)

0
1
2
4
5
6
7
8
9

In [100]:
i = 0;
end =10

while i< end :
    if i == 3 :
        i += 1
        continue
    
    print(i)
    i += 1

0
1
2
4
5
6
7
8
9

In [103]:
ls2= [1,-1,40,-20,3]

In [104]:
#인덱스가 2인 요솟값을 제외하고 모두 출력하는 코드를 작성하세요.

In [106]:
for i in range(0, len(ls2),1) :
    if i ==2 :
        continue
    print(ls2[i])

1
-1
-20
3

In [110]:
# ls2에서 요소값이 40인 경우를 제외하고 모두 출력하는 코드 작성

for el in ls2 : # 앞으로 list, tuple, dictionary, set을 콜렉션이라고 함.
    if el == 40 :
        continue
    print(el)

1
-1
-20
3

In [ ]:
# break문
# 가장 가까운 반복문을 빠져나옴.

In [113]:
ls3 = ['a','b']
ls4 = [10,20,30]

for el_1 in ls3 :
    print("at 1 loop : ",el_1)

    for el_2 in ls4:
        if el_2 == 20 :
            break
        print("at 2 loop : ",el_2)
        
    print("after 2 loop")
    
print("after 1 loop")

at 1 loop :  a
at 2 loop :  10
after 2 loop
at 1 loop :  b
at 2 loop :  10
after 2 loop
after 1 loop

In [117]:
for i in range(1,10) :
    print ("3 X", i, "=", 3*i)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [123]:
for dan in range(2,10) :
    for i in range(1,10) :
        print (str(dan)+" x "+str(i)+" = ",str(dan*i))
    print (":"*20)

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 =  10
2 x 6 =  12
2 x 7 =  14
2 x 8 =  16
2 x 9 =  18
::::::::::::::::::::
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 =  12
3 x 5 =  15
3 x 6 =  18
3 x 7 =  21
3 x 8 =  24
3 x 9 =  27
::::::::::::::::::::
4 x 1 =  4
4 x 2 =  8
4 x 3 =  12
4 x 4 =  16
4 x 5 =  20
4 x 6 =  24
4 x 7 =  28
4 x 8 =  32
4 x 9 =  36
::::::::::::::::::::
5 x 1 =  5
5 x 2 =  10
5 x 3 =  15
5 x 4 =  20
5 x 5 =  25
5 x 6 =  30
5 x 7 =  35
5 x 8 =  40
5 x 9 =  45
::::::::::::::::::::
6 x 1 =  6
6 x 2 =  12
6 x 3 =  18
6 x 4 =  24
6 x 5 =  30
6 x 6 =  36
6 x 7 =  42
6 x 8 =  48
6 x 9 =  54
::::::::::::::::::::
7 x 1 =  7
7 x 2 =  14
7 x 3 =  21
7 x 4 =  28
7 x 5 =  35
7 x 6 =  42
7 x 7 =  49
7 x 8 =  56
7 x 9 =  63
::::::::::::::::::::
8 x 1 =  8
8 x 2 =  16
8 x 3 =  24
8 x 4 =  32
8 x 5 =  40
8 x 6 =  48
8 x 7 =  56
8 x 8 =  64
8 x 9 =  72
::::::::::::::::::::
9 x 1 =  9
9 x 2 =  18
9 x 3 =  27
9 x 4 =  36
9 x 5 =  45
9 x 6 =  54
9 x 7 =  63
9 x 8 =  72
9 x 9 =  81
::::::::::::::::::::

In [139]:
def print_dan(dan) :
    for i in range(1,10) :
        print (str(dan)+" x "+str(i)+" = ",str(dan*i))

In [145]:
for dan in range(2,10) :
    print_dan(dan)
    print (":"*20)

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 =  10
2 x 6 =  12
2 x 7 =  14
2 x 8 =  16
2 x 9 =  18
::::::::::::::::::::
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 =  12
3 x 5 =  15
3 x 6 =  18
3 x 7 =  21
3 x 8 =  24
3 x 9 =  27
::::::::::::::::::::
4 x 1 =  4
4 x 2 =  8
4 x 3 =  12
4 x 4 =  16
4 x 5 =  20
4 x 6 =  24
4 x 7 =  28
4 x 8 =  32
4 x 9 =  36
::::::::::::::::::::
5 x 1 =  5
5 x 2 =  10
5 x 3 =  15
5 x 4 =  20
5 x 5 =  25
5 x 6 =  30
5 x 7 =  35
5 x 8 =  40
5 x 9 =  45
::::::::::::::::::::
6 x 1 =  6
6 x 2 =  12
6 x 3 =  18
6 x 4 =  24
6 x 5 =  30
6 x 6 =  36
6 x 7 =  42
6 x 8 =  48
6 x 9 =  54
::::::::::::::::::::
7 x 1 =  7
7 x 2 =  14
7 x 3 =  21
7 x 4 =  28
7 x 5 =  35
7 x 6 =  42
7 x 7 =  49
7 x 8 =  56
7 x 9 =  63
::::::::::::::::::::
8 x 1 =  8
8 x 2 =  16
8 x 3 =  24
8 x 4 =  32
8 x 5 =  40
8 x 6 =  48
8 x 7 =  56
8 x 8 =  64
8 x 9 =  72
::::::::::::::::::::
9 x 1 =  9
9 x 2 =  18
9 x 3 =  27
9 x 4 =  36
9 x 5 =  45
9 x 6 =  54
9 x 7 =  63
9 x 8 =  72
9 x 9 =  81
::::::::::::::::::::

In [149]:
ls5 = [ i for i in range(10,71,10)]
print(ls5)

[10, 20, 30, 40, 50, 60, 70]

In [151]:
ls6 = [i for i in range(0,11,1)]
ls6

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [171]:
ls6 = [i for i in range(27,0,-3)]
ls6

[27, 24, 21, 18, 15, 12, 9, 6, 3]

In [201]:
ls3 = [i-10 for i in range(50,101,10)]
print(ls3)

[40, 50, 60, 70, 80, 90]

In [230]:
ls100 = [i for i in range(0, 22) if i%3 ==0]
ls100

[0, 3, 6, 9, 12, 15, 18, 21]

In [235]:
list_ex = [i+1 for i in range(0,7,2) if i%2 ==0]
list_ex

[1, 3, 5, 7]

In [237]:
list = [i for i in range(0,10) if i%2 ]

15
20
100