# 연산자

##### + 연산자

In [3]:
a = 10
b = 20
c= a + b

print(c)

30

In [5]:
str_String_1 ="hi"
str_String_2 ="안녕"
str_String_3 = str_String_1 + str_String_2
print(str_String_3)

hi안녕

In [46]:
ls_list_1 = [1, 2, 3]
ls_list_2 = [4, 5, 6]
c = ls_list_1 +  ls_list_2
c

[1, 2, 3, 4, 5, 6]

In [9]:
t_tuple_1 = (1, 2, 3)
t_tuple_2 = (4, 5, 6)
c = t_tuple_1 +  t_tuple_2
c

(1, 2, 3, 4, 5, 6)

#### set 과 dictionary는 + 연산자를 사용할 수 없음

In [13]:
s_set_1 = {1, 2, 3}
s_set_2 = {4, 5, 6}
c = s_set_1 + s_set_2

print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [15]:
s_set_1 = {1, 2, 3}
s_set_2 = {4, 5, 6}
c = s_set_1.union(s_set_2)

print(c)

{1, 2, 3, 4, 5, 6}

In [17]:
dict_dictionary_1 = {1:10, 2:20}
dict_dictionary_2 = {3:30, 4:40}

c= dict_dictionary_1 + dict_dictionary_2

print(c)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [18]:
dict_dictionary_1 = {1:10, 2:20}
dict_dictionary_2 = {3:30, 4:40}

c= dict_dictionary_1.update(dict_dictionary_2)
print(c)

None

### 다른 종류의 자료형끼리의 + 연산
- 숫자형과 문자열끼리의 '+' 연산 => 안됨

In [20]:
c = a + str_String_1
print(c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
a2 = "aaa"
c = a2+str_String_1

print(c)

aaahi

In [22]:
str_String_3 = "1"
c = a2+ str_String_3
print(c)

aaa1

In [25]:
# 숫자로 이루어진 문자열을 숫자로 변환 후 다른 수 와 더하기 연산 가능

result = int(str_String_3) # result =1
result + 2

print(c)

aaa1

In [28]:
# 문자열과 숫자를 더하기 하고 싶다면, 숫자를 문자열로 바꾸어서 더하기 연산 가능
c = str_String_1 + str(a) 

print(c)

hi10

# - 연산

In [29]:
a= 10
b = 20
c = a - b

print(c)

-10

In [31]:
d = 1
result = 1- d
print(result)

0

In [39]:
d = 1- d
print(d)

## 해당 명령어들을 실행시키면 0과 1이 반복하며 나오는 것을 확인 할 수 있음
## 이를 스위치 알고리즘이라고 함.

1

# * 연산자(곱하기)

In [41]:
a = 10
b = 20
c = a * b

print(c)

200

#### 곱하기 연산자는 문자열과 숫자의 연산이 가능함.

In [42]:
d = "@"

c = d * a

print(c)

@@@@@@@@@@

#### 리스트(또는 튜플)와 숫자의 곱하기 연산 가능
c = ls_lsit_1 *2
print(c)

In [48]:

c = ls_list_1 *2 
print(c)

[1, 2, 3, 1, 2, 3]

#### /(나누기) 연산자

In [49]:
a = 3
b = 10
c = b / a


print(c)

3.3333333333333335

#### **(제곱연산자), //(몫 연산자), %(나머지 연산자)

In [52]:
c= 2 ** 3
print(c)

8

In [57]:
c = 4//5
print(c)

c = 15 // 4
print(c)

0
3

In [60]:
c = 15 / 4
print(c)

3.75

In [64]:
c = 15 % 4
print(c)

3

In [67]:
t_tuple(30,20)

NameError: name 't_tuple' is not defined

In [69]:
a = 15
b = 2
# 1.
c = a + b
print("1번째",c)
#1번째 17

# 2.
c = a - b
print("2번째",c)
#2번째 13

# 3.
c = a * b
print("3번째",c)
# 3번째 30

# 4.
c = a / b
print("4번째",c)
# 4번째 7.5

# 5.
c = a // b
print("5번째",c)
# 5번째 7

# 6.
c = a % b
print("6번째",c)
#6번째 1

# 7.
c = 2 ** 5
print("7번째", c)
#7번째 32

# 8.
a = 0
c = 12
a += c
print("8번째", c)
# 8번째 12


# 9.
a = 5
c = 12
a -= c
print("9번째", c)
#9번째 12

# 10.
a = 1
c = 12
a /= c
print("10번째", c)
#10번째 12

# 11.
a = 12
c = 2
a %= c
print("11번째", c)
#11번째 2

# 12.
a = 12
c = 1
a *= c
print("12번째", c)
#12번째 1

# 13.
a = 2
c = 2
a **= c
print("13번째", c)
#13번째 2

# 14.
a = 4
c = 3
a //= c
print("14번째", c)
#14번째 3


# 15.
a = 1
c = 2
a ** c
print("15번째", c)
#15번째 2

1번째 17
2번째 13
3번째 30
4번째 7.5
5번째 7
6번째 1
7번째 32
8번째 12
9번째 12
10번째 12
11번째 2
12번째 1
13번째 2
14번째 3
15번째 2

In [70]:
 a > b

False

In [ ]:
# a < b (a는 b보다 작다.)
# a > b (a는 b보다 크다.)
# a == b (a와 b는 같다.)
# != (a와 b는 같지않음)
# a >= b (a는 b보다 크거나 같다.)
# a <= b (a는 b보다 작거나 같다.)

In [76]:
a =10 
b = 10
c = 20


print(a>b)
print(a<b)
print(a==b)
print(a==c)
print(a!=b)
print(a!=c)
print(a>=b)
print(a<=b)

False
False
True
False
False
True
True
True

In [84]:
print("1. ###############")
a =20 
b = 450
c = 450

print(a>b)#False
print(a<b)#True
print(a==b)#False
print(a!=b)#True
print(a>=b)#False
print(a<=b)#True

print("2. ###############")
a =1 
b = 10
c = 10

print(a>b)#False
print(a<b)#True
print(a==(b//10))#True
print(a!=(a%b))#False
print(a>=b)#False
print(a<=b)#True


print("3. ###############")
a =10 
b = 30
c = 20

print(a>b)#False
print(a<b)#True
print(a==b)#False
print(a!=b)#True
print(a>=b)#False
print(a<=b)#True

1. ###############
False
True
False
True
False
True
2. ###############
False
True
True
False
False
True
3. ###############
False
True
False
True
False
True