In [ ]:
def me1(a):
    print()

In [1]:
# 함수 생성 및 호출(사용)
# 함수 생성과 호출은 다름.
# 함수를 생성했다고 해서 함수 본문 안에 있는 내용이 실행 되지 않는다.
# 함수를 호출해야 함수 본문 안에 있는 내용이 실행된다.
# 함수 생성 시 매개변수 형태는 변수 선언 공식의 좌항과 동일하고
# 함수 호출시 인수 형태는 변수 선언 공식의 우항과 동일하다

In [2]:
int_Integer = 10
str_String_1 ="hello"
float_Float_1 = 3.14
boolean_Boolean_1 = True
ls_list_1 = [10,40,50]

In [4]:
def function1(a) : # def -> define의 약자, :(클론) 이후부터 함수 본문
    print(a)
    return "end"

In [7]:
function1(10) # a =10

10

'end'

In [8]:
# 주피터 노트북에서는 함수의 반환값을 화면에 출력해주는데, 이는 주피터 노트북의 기능임.
# 실제로는 반환 값은 화면에 출력되지 않음.
# 출력하고 싶으면 print()함수를 사용해야함.

In [21]:
def main1(a) :
    print (a)
    return "end"

print(main1(10))

10
end

In [22]:
function1(2)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
#########################

In [ ]:
def minus_count(num) :
    for 
    print

In [ ]:
a = function(10)

In [42]:
def test2(str) :
    print(str)
    print(str[0] if len(str) > 0 else "")
    return 13

In [47]:
name_ko = test2("성시우")
name_eng = test2("SungSiWoo")
singer = test2("leo")

print(fn_val_1)

성시우
성
SungSiWoo
S
leo
l
13

In [48]:
def test3(int_num_1, int_num_2) : 
    print(int_num_1+int_num_2) 
    print(int_num_1*int_num_2)
    return int_num_1, int_num_2

In [54]:
fn_result_1 = test3(2,3)
fn_result_2 = test3(2,4)
fn_result_3 = test3(2,5)

5
6
6
8
7
10

In [55]:
def test4(str) :
    result = (5 if len(str) > 0 else 3)
    return result

In [60]:
result_1 = test4("첫번째")
result_2 = test4("두번째")
result_3 = test4("")
print(result_1)
print(result_2)
print(result_3)

5
5
3

In [63]:
def test5(a) :
    return a

In [65]:
result_1= test5(3.14)
result_2= test5(6.28)
print(result_1)
print(result_2)

3.14
6.28

In [ ]:
function1 함수를 생성하는 코드
매개변수는 1개이고,
매개변수명은 a이고,
매개변수의 내용을 그대로 출력 후,
반환값으로 문자열 "end" 반환

함수 function1 호출시, 
매개변수로 10을 넘기므로,
10이 그대로 출력 되며,
변수 num에는 반환값 "end"가 담겨있음.

In [66]:
test10함수를 생성하는 코드
매개변수는 0개이므로,
매개변수명은 존재하지 않음.
    
test10함수는
정수 1을 출력하고, 
변수 a의 값 10을 2와 곱한 결과를 출력.
반환값은 없음.

SyntaxError: invalid syntax (4045443486.py, line 1)

In [ ]:
def test11():
    print(11)
    a = 10

In [73]:
def zest(*args) : 
    # 변수 앞에 #"*"을 적으면 해당 함수에 원하는 만큼 매갠변수를 지정할 수 있음.  
    # 변수명을 아무거나 적어도 되지만 arguments 의 약자인 args를 권장함.
    for el in args : # 여러값이기 때문에 for문을 돌림.
        print(el)

In [74]:
def zest10(a,b,c) :
    print(a)
    print(b)
    print(c)

In [76]:
zest10(1,1,1)

1
1
1

In [77]:
zest (2,3,4,5)

2
3
4
5

In [107]:
def zest2(*args) :
    result = 0
    for el in args :
 
        result += el
        print(result)
        
zest2(1,2,3,4,5)

1
3
6
10
15

In [127]:
def zest2(*args) :
    result = 0
    if args:
        for i in range(0, len(args)) :
            print(i,"i입니다",args[i] ,">>>")
            print(">>>>>>>>>")
            # if args[i] != "," :
                #result += int(args[i])
                # print(result)
    else :
        print("정수를 입력안하셧네요")
        
zest2(input("정수를 입력하세요"))

정수를 입력하세요

0 i입니다  >>>
>>>>>>>>>

In [ ]:
a = "콜라"
b = "사이다"
b에 콜라를 넣고 
a에 사이다를 넣어주세요.

In [95]:
def change_fn (a,b) :
    tmp = a
    a = b
    b = tmp
    return a, b

result = change_fn("사이다","콜라")
print(result)

('콜라', '사이다')

In [105]:
def zest3(*args,name, age) :
    print(name)
    print(age)
    for el in args :
        print(el)

In [103]:
zest3(1,2,3,4,5,6)

1
2
3
4
5
6

In [106]:
zest3(1,2,3, name=4, age=4)

4
4
1
2
3

In [129]:
def function1 (a) :
    print(a)
    return "end"

In [133]:
result = function1(10)

10

In [134]:
def test_01() :
    print("매무반무")

In [137]:
test_01()

매무반무

In [140]:
def test_03(param) :
    print(param)

In [142]:
test_03(10)

10

In [ ]:
10에서 15보다 작은 14까지를 반복하며 출력.

In [ ]:
len()함수를 통해 인덱스 마지막 값을 구할 수 있음.
인덱스가 0에서 1씩 증가하며
요소의 값이 2인 경우는 생략하고 출력
결과로 2를 제외한 나머지 요소값 전체 출력됨.