In [ ]:
def me1(a):
    print()

In [1]:
# 함수 생성 및 호출(사용)
# 함수 생성과 호출은 다름.
# 함수를 생성했다고 해서 함수 본문 안에 있는 내용이 실행 되지 않는다.
# 함수를 호출해야 함수 본문 안에 있는 내용이 실행된다.
# 함수 생성 시 매개변수 형태는 변수 선언 공식의 좌항과 동일하고
# 함수 호출시 인수 형태는 변수 선언 공식의 우항과 동일하다

In [2]:
int_Integer = 10
str_String_1 ="hello"
float_Float_1 = 3.14
boolean_Boolean_1 = True
ls_list_1 = [10,40,50]

In [4]:
def function1(a) : # def -> define의 약자, :(클론) 이후부터 함수 본문
    print(a)
    return "end"

In [7]:
function1(10) # a =10

10

'end'

In [8]:
# 주피터 노트북에서는 함수의 반환값을 화면에 출력해주는데, 이는 주피터 노트북의 기능임.
# 실제로는 반환 값은 화면에 출력되지 않음.
# 출력하고 싶으면 print()함수를 사용해야함.

In [21]:
def main1(a) :
    print (a)
    return "end"

print(main1(10))

10
end

In [22]:
function1(2)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
#########################

In [ ]:
def minus_count(num) :
    for 
    print

In [ ]:
a = function(10)

In [42]:
def test2(str) :
    print(str)
    print(str[0] if len(str) > 0 else "")
    return 13

In [47]:
name_ko = test2("성시우")
name_eng = test2("SungSiWoo")
singer = test2("leo")

print(fn_val_1)

성시우
성
SungSiWoo
S
leo
l
13

In [48]:
def test3(int_num_1, int_num_2) : 
    print(int_num_1+int_num_2) 
    print(int_num_1*int_num_2)
    return int_num_1, int_num_2

In [54]:
fn_result_1 = test3(2,3)
fn_result_2 = test3(2,4)
fn_result_3 = test3(2,5)

5
6
6
8
7
10

In [55]:
def test4(str) :
    result = (5 if len(str) > 0 else 3)
    return result

In [60]:
result_1 = test4("첫번째")
result_2 = test4("두번째")
result_3 = test4("")
print(result_1)
print(result_2)
print(result_3)

5
5
3

In [63]:
def test5(a) :
    return a

In [65]:
result_1= test5(3.14)
result_2= test5(6.28)
print(result_1)
print(result_2)

3.14
6.28

In [ ]:
function1 함수를 생성하는 코드
매개변수는 1개이고,
매개변수명은 a이고,
매개변수의 내용을 그대로 출력 후,
반환값으로 문자열 "end" 반환

함수 function1 호출시, 
매개변수로 10을 넘기므로,
10이 그대로 출력 되며,
변수 num에는 반환값 "end"가 담겨있음.